@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap');
*{
	margin: 0;
	padding: 0;
	font-family: 'Grape Nuts', cursive;
}
body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(5, 4, 4);
}
.heart{
    height: 100px;
    width: 100px;
    background: #f20044;
    position: relative;
    transform: rotate(-45deg);
    box-shadow: -2.5px 2.5px 45px red;
    animation: heart 0.6s linear infinite;
    margin-left: 20px;
   
}
@keyframes heart{
    0%{
        transform: rotate(-45deg)scale(1.07);
    }
    80%{
        transform: rotate(-45deg)scale(1.0);
    }
    100%{
        transform: rotate(-45deg)scale(0.8);
    }
}
.heart::before{
    content: '';
    position: absolute;
    height: 100px;
    width: 100px;
    background: red;
    top: -50%;
    border-radius: 50px;
    box-shadow: -2.5px -2.5px 45px red;
}
.heart::after{
    content: '';
    position: absolute;
    height: 100px;
    width: 100px;
    background: red;
    right: -50%;
    border-radius: 50px;
    box-shadow: 2.5px 2.5px 45px red;
}
.first{
    font-size: 100px;
    color: #fff;
    text-align: center;
    margin-top: 60px;
    margin-right: -200px;
}
.fir{
    display: block;
    font-size: 100px;
    color: #fff;
    text-align: center;
    margin-top: 280px;
  margin-right: -260px;
   
   
}
.sk h2{
    color: #fff;
    font-size: 170px;
    margin-left: -150px;
    
}

p{
    color: #fff;
    font-size: 160px;
    margin-left: 65px;
    
}
@media(max-width: 700px) {
    .first h1{
        font-size: 100px;
        margin-left: 20px;
    }
    .fir{
        font-size: 40px;
        margin-left: -3.5rem;
    }
    p{
        font-size: 60px;
        margin-left: 20px;

    }
    .sk h2{
        font-size: 64px;
        margin-left: 15px;
    }

    .heart{
        height: 30px;
        width: 30px;
        background: #f20044;
        position: relative;
        transform: rotate(-45deg);
        box-shadow: -2.5px 2.5px 45px red;
        animation: heart 0.6s linear infinite;
        margin-left: 20px;
       
    }
    @keyframes heart{
        0%{
            transform: rotate(-45deg)scale(1.07);
        }
        80%{
            transform: rotate(-45deg)scale(1.0);
        }
        100%{
            transform: rotate(-45deg)scale(0.8);
        }
    }
    .heart::before{
        content: '';
        position: absolute;
        height: 30px;
        width: 30px;
        background: red;
        top: -50%;
        border-radius: 50px;
        box-shadow: -2.5px -2.5px 45px red;
    }
    .heart::after{
        content: '';
        position: absolute;
        height: 30px;
        width: 30px;
        background: red;
        right: -50%;
        border-radius: 50px;
        box-shadow: 2.5px 2.5px 45px red;
    }
}

